<!-- app/views/application/show_post.html.erb -->

<html>
  <body>

    <a href="/list_posts">Back to Posts</a>

    <div class="post">
      <h2 class="title">
        <%= post.title %>
      </h2>

      <small class="meta">
        <span class="author">by <%= post.author %> -</span>
        <em class="created_at"><%= post.created_at %></em>
      </small>

      <p class="body"><%= post.body %></p>

      <br /><br />
      <div class="comments">
        <h3>Comments:</h3>
        <hr />
        <% post.comments.each_with_index do |comment, index| %>
          <div class="comment">
            <small class="comment_meta">
              <span class="comment_author">#<%= index+1 %> by <%= comment['author'] %> -</span>
              <em class="comment_created_at"><%= comment['created_at'] %></em>
            </small>
            <p class="comment_body"><%= comment['body'] %></p>
          </div>
          <hr />
        <% end %>
      </div>
    
    </div>
    <br />
    <a href="/list_posts">Back to Posts</a>

  </body>
</html>
